{% extends "base.html" %}
{% block title %}{% if create %}Новый материал{% else %}Редактирование материала{% endif %}{% endblock %}
{% block content %}
<h1 class="mb-3">{% if create %}Новый материал{% else %}Редактирование{% endif %}</h1>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <div class="d-flex gap-2">
    <a class="btn btn-outline-secondary" href="{% url 'inventory:material_list' %}">Отмена</a>
    <button class="btn btn-primary">Сохранить</button>
  </div>
</form>
{% endblock %}
